
.square {
  width: 70px;
  height: 70px;
  border: solid 2px rgb(237, 31, 65);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(237, 158, 184);
}


.cat {
  width: 60px;
  height: 60px;
  background-image: url('../assets/cat_circle.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dog {
  width: 60px;
  height: 60px;
  background-image: url('../assets/dog_cross.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}