
.gamebutton {
    
    width: 200px;
    height: 120px;
    background-image: url('../../assets/tictactoebutton.png');
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

.gamebutton:hover {
  transform: scale(1.1); 
}
