
.gamebutton {
    
    width: 210px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

.gamebutton:hover {
  transform: scale(1.1); 
}

.gamebutton-img {

  width: 200px;
  height: 120px;
}
