
.music-button {
  width: 90px;
  height: 80px;
  
  position: absolute;
  top: 20%;   
  left: 73%; 

  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

.music-button:hover {
  transform: scale(1.1); 
}