html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* kill scroll globally */
}

.app {
  margin : 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  /* vh == viewport height */
  width: 100vw; 
  height: 100vh;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* keeps video behind content */
}

.back-button{
  width: 80px;
  height: 50px;
  
  position: absolute;
  top: 15%;   
  left: 38%; 

  background-color: #ebc1de; 
  border: 6px solid #b89bf3;

  cursor: pointer;
}


