html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* kill scroll globally */
}

.app {
  margin : 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  background-image: url('./main_page/assets/main_page_background.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #a8c28f;

  /* vh == viewport height */
  width: 100vw; 
  height: 100vh;
}

.back-button{
  width: 80px;
  height: 50px;
  
  position: absolute;
  top: 25%;   
  left: 38%; 

  background-color: #ebc1de; 
  border: 6px solid #b89bf3;

  cursor: pointer;
}


