
.gamebuttoncontainer{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 

    top: 12%;   
    left: 39%; 
    
    width: 25vw;
    height: 35vh;

    /*background-color: aqua;*/
}