
.gamebutton {
    
    width: 12vw;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

.gamebutton:hover {
  transform: scale(1.1); 
}

.gamebutton-img {
  width: 12vw;
  height: 15vh;
}
