.whac-container {
  text-align: center;

  transform: translateX(15%) translateY(-23vh);

}

.whac-grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 5px;
  justify-content: center;
}

.whac-hole {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;

  background: url('./assets/hole.webp') no-repeat center;
  background-size: contain;
}

.whac-hole.mole {
  background: url('./assets/mole_in_hole.webp') no-repeat center;
  background-size: contain;
}